.login {
	margin-top: 10vh;
	display: flex;
	justify-content: center;

	form {
		box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
			rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 1em;
		padding: 2em;
		button {
			background-color: green;
			color: white;
		}
		.redirect-sign-up {
			width: 100%;
			display: flex;
			justify-content: space-between;
		}
	}
}
